@model Crud_Ogrenci.Models.Table

@{
    ViewBag.Title = "Details";
}

<h2>Öğrenci Detay</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OgrAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrFotograf)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.OgrFotograf)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.OgrAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrAdres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.OgrID }) |
    @Html.ActionLink("Öğrenci Listesine Git", "Index")
</p>
<dt>
    <img src="@Model.OgrFotograf" width="250" height="250" />
</dt>
